
<ul class="nav nav-pills pull-right">
<ul class="nav">
  <li><%= link_to 'Home', root_path %></li>
  <li><%= link_to "Sign up", new_user_registration_path%></li> 

  <% if user_signed_in? %>
  <li>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
  </li>
<% else %>
  <li>
  <%= link_to('Login', new_user_session_path)  %>
  </li>
<% end %>

  <%= render 'layouts/navigation_links' %>
</ul>
</ul>
